@font-face {
    font-family: "MyFont";
    src: url('./fonts/HomeVideo.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MyFont2";
    src: url('./fonts/HomeVideoBold.ttf') format("truetype");
}

.roboto-uno {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins'; */
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: MyFont, "Roboto", sans-serif;
}

body {
    /* background-color: rgb(250, 242, 232); */
    /* background-color: #fdf2f2; */
}

header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(16, 0, 4, 0.564);
    backdrop-filter: blur(8px);
    /* color: rgb(250, 242, 232); */
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
    font-family: MyFont, "Roboto", sans-serif;

}

.logo {
    /* color: rgb(250, 242, 232); */
    color: #fdf2f2;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.16);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

li a {
    position: relative;
    color: #fdf2f2;
    font-weight: 300;
}

li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 20px;
    border-radius: 0.1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, #ff55da, #fec107, #00fffb);
}

li a:hover::before {
    width: 100%;
}

/* .visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right, rgb(0, 157, 255), rgb(255, 0, 255));
}

.visit-btn:hover {
    background: linear-gradient(to right, rgb(255, 0, 255), rgb(0, 157, 255));
    transform: scale(1.03);
} */

#menu-icon {
    font-size: 2rem;
    display: none;

}

section {
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 10px 10px #fec107;
    /* filter: grayscale(100%); */
    transition: 0.4s ease-in-out;
    /* -webkit-transform: scaleX(-2) */
}

.about img:hover {
    /* opacity: 50%; */
    /* filter: invert(); */
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.7);
    transition: 0.6s ease-in-out;
    filter: hue-rotate(360deg);
}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
    font-family: MyFont, "Roboto", sans-serif;
    /* color: #fec107;
    background-color: #2b2b2b; */
    padding: 10px;
}

.info-box span {
    background: linear-gradient(to right, #ff55da, #fec107, #00fffb);
    /* background: linear-gradient(to right, #8ddbe6, #bdbfff, #c5f7cc); */
    /* box-shadow: 0px 8px 10px 1px black; */
    /* text-shadow: 2px 2px; */
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.5rem 1.5rem;
    border: 2px solid #2b2b2b;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn a,
.btn a:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #2b2b2b;
    color: rgb(250, 242, 232);
    border-radius: 0.25rem;
}

.socials {
    display: flex;
    gap: 2rem;
}

.socials i {
    font-size: 4.5rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    color:#2b2b2b;
    opacity: 70%;
}

.socials i:hover {
    transform: scale(1.25);
    color: #2b2b2b;
    opacity: 100%;
}

.socials i:hover .socialname{
    opacity: 100%;
    transition: 0.2s ease-in-out;
}



.socialname {
    opacity: 0%;
    cursor: default;
}



.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img {
    width: 24vw;
    border-radius: 5rem;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

body .grid-card:hover {
    background: #2b2b2b;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card {
    border: 2px solid #2b2b2b;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.grid-card:hover {
    transform: scale(1.05);
    color: #faf2e8;
    box-shadow: 0px 4px 4px 4px #000000;
    transition: 0.4s ease-in-out;
}

.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, #ff55da, #00fffb);
    background-clip: text;
    color: transparent;
    margin-bottom: 0.75rem;
}

.grid-card-labotomy {
    border: 2px solid #2b2b2b;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* background-repeat: no-repeat; */
    background-position: 40px -20px;
}

.grid-card-labotomy:hover {
    background-image: url("/img/barbara.gif");
    background-color: #2b2b2b;
    color: transparent;
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid #2b2b2b;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    background-color: #2b2b2b;
    color: white;
    transform: translateY(-10px)scale(1.02);
}

.project-card img {
    height: 20vw;
    border-radius: 1rem;
    padding: 1rem;
}

.project-card:hover .btn{
    border: 3px solid white;
    color: white;
}

.project-card:hover .btn:hover {
    border: 2px solid white;
    background-color: white;
    color: #2b2b2b;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input-box input {
    border-radius: 3rem;
    border: 2px solid #2b2b2b;
    padding: 2rem 8rem;
    font-size: 3rem;
}

.input-box inputer::placeholder {
    font-size: 3rem;
}

.input {
    position: relative;
}

.input i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%, -50%);
}

footer {
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer ul li a {
    color: #2b2b2b;
    font-weight: 600;
}

.copyright {
    font-size: 300;
    margin-top: 2rem;
}



@media(max-width: 1280px) {
    header {
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container {
        gap: 3rem;
    }
    .experience-info {
        flex-direction: column;
    }
    .input-box input {
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input input::placeholder {
        font-size: 2.5rem;
    }
    .input-box i {
        font-size: 2.5rem;
    }
}

@media(max-width: 768px) {
    header {
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo {
        font-size: 1rem;
    }
    header .visit-btn {
        display: none;
    }
    .about-container {
        flex-direction: column;
    }
    .input-box input {
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box i {
        display: none;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .experience-info img {
        width: 70vw;
    }
}

@media(max-width: 600px) {
    header #menu-icon {
        display: block;
    }
    .nav-links {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 3rem;
        display: none;
    }
    .nav-links li {
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active {
        display: block;
    }
    header {
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo {
        font-size: 1.5rem;
    }
    .about-container img {
        width: 80vw;
    }
    .input-box input {
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder {
        font-size: 1.5rem;
    }
    footer ul {
        gap: 1rem;
    }
}